.new-goal{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.new-goal input {
  background-color: #2e333d;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: rgba(240, 240, 240, 0.15) 1.95px 1.95px 2.6px;
  width: auto;
  
}

.new-goal button {
  border: none;
  border-radius: 0.2rem;
  background-color: #2e333d;
  color: white;
  padding: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: rgba(240, 240, 240, 0.144) 1.95px 1.95px 2.6px;
  width: auto;
}

@media only screen and (max-width: 645px) {
  .new-goal button {
    margin: 1rem auto;
  }
  
}